Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

check-duplicate-properties-keys:
  name: Check Duplicate Properties Keys
  entry: python .github/scripts/check_duplicates.py
  language: python

check-html-tabs:
  name: Check HTML for tabs
  description: Ensures HTML/CSS/JS files do not contain tab characters
  entry: python .github/scripts/check_tabulator.py
  language: python

[Check] translation orders after merging (#2742)
  .github/workflows/update-translations.yml
Due: none

outdated Gradle functions to the Gradle 9.0 standard (#2740)
  build.gradle
Due: none

expanding the PR template (#2743)
  .github/pull_request_template.md
Due: none

Improves the sync of translation files and README.md
  .github/workflows/sync_files.yml
  .github/workflows/update-translations.yml
Due: none

Update pull_request_template.md
  .github/pull_request_template.md
Due: none

Update messages_de_DE.properties
  src/main/resources/messages_de_DE.properties
Due: check-duplicate-properties-keys

Update messages_de_DE.properties (#2745)
  src/main/resources/messages_de_DE.properties
Due: check-duplicate-properties-keys

Improves the sync of translation files and README.md (#2744)
  .github/pull_request_template.md
  .github/workflows/sync_files.yml
  .github/workflows/update-translations.yml
Due: none

Update and improve Korean(한국어)(ko_KR) locale using Claude 3.5 Sonnet (#2741)
  src/main/resources/messages_ko_KR.properties
Due: check-duplicate-properties-keys

Add: check for duplicate keys
  .github/scripts/check_language_properties.py
Due: none

Display tooltips to the right of btns when repositioning btns as columns to left side of the screen
  src/main/resources/static/pdfjs-legacy/css/viewer-redact.css
Due: none

Enhance positioning of tooltip for box redaction and wrap text when necessary
  src/main/resources/static/pdfjs-legacy/css/viewer-redact.css
Due: none

Hyphenate and wrap text for color palette tooltip
  src/main/resources/static/pdfjs-legacy/css/viewer-redact.css
Due: none

Show tooltip for pdf-to-img when option is disabled
  src/main/resources/static/css/redact.css
Due: check-html-tabs

Add custom select to fix displayed identical fonts in sign pdf
  src/main/resources/static/css/sign.css
  src/main/resources/static/js/pages/sign.js
  src/main/resources/templates/sign.html
Due: check-html-tabs

Fix signature box overlapping with selection options
  src/main/resources/static/css/sign.css
Due: check-html-tabs

Fix overflow when "Google Symbol" font is selected
  src/main/resources/static/css/sign.css
Due: check-html-tabs

Refactor custom select logic for better readability and maintainability in sign.js
  src/main/resources/static/js/pages/sign.js
  src/main/resources/templates/sign.html
Due: check-html-tabs

Add: check for duplicate keys (#2749)
  .github/scripts/check_language_properties.py
Due: none

Fix displayed identical fonts in sign PDF (#2751)
  src/main/resources/static/css/sign.css
  src/main/resources/static/js/pages/sign.js
  src/main/resources/templates/sign.html
Due: check-html-tabs

Update build.gradle
  build.gradle
Due: none

Fix redaction buttons tooltips (#2750)
  src/main/resources/static/css/redact.css
  src/main/resources/static/pdfjs-legacy/css/viewer-redact.css
Due: check-html-tabs

version bump (#2752)
  build.gradle
Due: none

Update multiOSReleases.yml
  .github/workflows/multiOSReleases.yml
Due: none

Update multiOSReleases.yml (#2753)
  .github/workflows/multiOSReleases.yml
Due: none

Revert "Update multiOSReleases.yml (#2753)"
  .github/workflows/multiOSReleases.yml
Due: none

Revert "Update multiOSReleases.yml" (#2754)
  .github/workflows/multiOSReleases.yml
Due: none

Path conditions:
  check-duplicate-properties-keys: any of: ^(src)/.+\.properties$
  check-html-tabs: any of: ^.*(\.html|\.css|\.js)$, but not: ^(.*/pdfjs.*|.*/thirdParty.*|bootstrap.*|.*\.min\..*|.*diff\.js$)
