Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

check-duplicate-properties-keys:
  name: Check Duplicate Properties Keys
  entry: python .github/scripts/check_duplicates.py
  language: python

check-html-tabs:
  name: Check HTML for tabs
  description: Ensures HTML/CSS/JS files do not contain tab characters
  entry: python .github/scripts/check_tabulator.py
  language: python

Update check_properties.yml
  .github/workflows/check_properties.yml
Due: none

Update update-translations.yml
  .github/workflows/update-translations.yml
Due: none

Update sync_files.yml
  .github/workflows/sync_files.yml
Due: none

@Qualifier("runningEE")
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseConfig.java
Due: none

Defines a unique Python version (#2646)
  .github/workflows/check_properties.yml
  .github/workflows/sync_files.yml
  .github/workflows/update-translations.yml
Due: none

csrf
  src/main/resources/static/js/csrf.js
  src/main/resources/templates/fragments/common.html
Due: check-html-tabs

only call if cookie exists
  src/main/resources/static/js/csrf.js
Due: check-html-tabs

csrf fixes (#2647)
  src/main/resources/static/js/csrf.js
  src/main/resources/templates/fragments/common.html
Due: check-html-tabs

csrf fix for account
  src/main/resources/templates/account.html
Due: check-html-tabs

Update ignore_translation.toml
  scripts/ignore_translation.toml
Due: none

Update ignore_translation.toml (#2648)
  scripts/ignore_translation.toml
Due: none

Fix: sync-readme
  src/main/resources/messages_en_GB.properties
Due: check-duplicate-properties-keys

Fix: sync-readme (#2649)
  src/main/resources/messages_en_GB.properties
Due: check-duplicate-properties-keys

Pinned-Dependencies `actions/upload-artifact` (#2634)
  .github/workflows/build.yml
Due: none

Fix: py Vulnerabilities (#2636)
  .github/workflows/build.yml
  cucumber/requirements.in
  cucumber/requirements.txt
Due: none

Update releaseArtifacts.yml
  .github/workflows/releaseArtifacts.yml
Due: none

SSO Auto login and template cleanup
  src/main/java/stirling/software/SPDF/EE/EEAppConfig.java
  src/main/java/stirling/software/SPDF/EE/KeygenLicenseVerifier.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/resources/settings.yml.template
  src/main/resources/templates/login.html
Due: check-html-tabs

format and cleanups
  src/main/java/stirling/software/SPDF/EE/EEAppConfig.java
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseConfig.java
  src/main/java/stirling/software/SPDF/config/security/oauth2/OAuth2Configuration.java
  src/main/java/stirling/software/SPDF/config/security/saml2/SAML2Configuration.java
  src/main/java/stirling/software/SPDF/controller/api/security/RedactController.java
  src/main/java/stirling/software/SPDF/model/api/security/ManualRedactPdfRequest.java
  src/main/java/stirling/software/SPDF/model/api/security/RedactionArea.java
  src/main/java/stirling/software/SPDF/utils/propertyeditor/StringToArrayListPropertyEditor.java
  test.sh
Due: none

Update messages_pt_BR.properties
  src/main/resources/messages_pt_BR.properties
Due: check-duplicate-properties-keys

Update messages_pt_BR.properties (#2654)
  src/main/resources/messages_pt_BR.properties
Due: check-duplicate-properties-keys

Csrf fix and ssoAutoLogin for enterprise users (#2653)
  src/main/java/stirling/software/SPDF/EE/EEAppConfig.java
  src/main/java/stirling/software/SPDF/EE/KeygenLicenseVerifier.java
  src/main/java/stirling/software/SPDF/config/security/SecurityConfiguration.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseConfig.java
  src/main/java/stirling/software/SPDF/config/security/oauth2/OAuth2Configuration.java
  src/main/java/stirling/software/SPDF/config/security/saml2/SAML2Configuration.java
  src/main/java/stirling/software/SPDF/controller/api/security/RedactController.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/java/stirling/software/SPDF/model/api/security/ManualRedactPdfRequest.java
  src/main/java/stirling/software/SPDF/model/api/security/RedactionArea.java
  src/main/java/stirling/software/SPDF/utils/propertyeditor/StringToArrayListPropertyEditor.java
  src/main/resources/settings.yml.template
  src/main/resources/templates/account.html
  src/main/resources/templates/login.html
  test.sh
Due: check-html-tabs

Custom svg nav icons
  src/main/resources/static/images/rename.svg
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/fragments/navbarEntryCustom.html
Due: check-html-tabs

Add: Cosign Sign (#2633)
  .github/workflows/releaseArtifacts.yml
Due: none

New icons (#2658)
  src/main/resources/static/images/rename.svg
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/fragments/navbarEntryCustom.html
  src/main/resources/templates/home.html
Due: check-html-tabs

Fix: Thymeleaf syntax (/*[[...]]*/)
  src/main/resources/static/js/cacheFormInputs.js
  src/main/resources/static/js/csrf.js
  src/main/resources/static/js/darkmode.js
  src/main/resources/static/js/fetch-utils.js
  src/main/resources/static/js/game.js
  src/main/resources/static/js/settings.js
  src/main/resources/templates/account.html
  src/main/resources/templates/fragments/footer.html
  src/main/resources/templates/login.html
  src/main/resources/templates/releases.html
  src/main/resources/templates/security/validate-signature.html
  src/test/java/stirling/software/SPDF/SPDFApplicationTest.java
  src/test/java/stirling/software/SPDF/config/security/database/DatabaseConfigTest.java
  src/test/java/stirling/software/SPDF/controller/api/RearrangePagesPDFControllerTest.java
Due: check-html-tabs

Fix: Pinned-Dependencies sync_files.yml
  .github/scripts/requirements_sync_readme.in
  .github/scripts/requirements_sync_readme.txt
  .github/workflows/sync_files.yml
  .pre-commit-config.yaml
Due: none

Add: Harden Runner
  .github/workflows/releaseArtifacts.yml
Due: none

Fix: Pinned-Dependencies sync_files.yml (#2660)
  .github/scripts/requirements_sync_readme.in
  .github/scripts/requirements_sync_readme.txt
  .github/workflows/sync_files.yml
  .pre-commit-config.yaml
Due: none

Path conditions:
  check-duplicate-properties-keys: any of: ^(src)/.+\.properties$
  check-html-tabs: any of: ^.*(\.html|\.css|\.js)$, but not: ^(.*/pdfjs.*|.*/thirdParty.*|bootstrap.*|.*\.min\..*|.*diff\.js$)
