Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args:
          - --fix
          - --line-length=127
        files: ^((.github/scripts|scripts)/.+)?[^/]+\.py$
        exclude: (split_photos.py)
      - id: ruff-format
        files: ^((.github/scripts|scripts)/.+)?[^/]+\.py$
        exclude: (split_photos.py)
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        files: \.(properties|html|css|js|py|md)$
        exclude: (.vscode|.devcontainer|src/main/resources|Dockerfile)
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.22.0
    hooks:
      - id: gitleaks
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: shellcheck
        files: ^.*(\.bash|\.sh|\.ksh|\.zsh)$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
        files: ^.*(\.js|\.java|\.py|\.yml)$
        exclude: ^(.*/pdfjs.*|.*/thirdParty.*|bootstrap.*|.*\.min\..*|.*diff\.js$)
      - id: trailing-whitespace
        files: ^.*(\.js|\.java|\.py|\.yml)$
        exclude: ^(.*/pdfjs.*|.*/thirdParty.*|bootstrap.*|.*\.min\..*|.*diff\.js$)

  - repo: local
    hooks:
      - id: check-duplicate-properties-keys
        name: Check Duplicate Properties Keys
        entry: python .github/scripts/check_duplicates.py
        language: python
        files: ^(src)/.+\.properties$
      - id: check-html-tabs
        name: Check HTML for tabs
        description: Ensures HTML/CSS/JS files do not contain tab characters
        # args: ["--replace_with=  "]
        entry: python .github/scripts/check_tabulator.py
        language: python
        exclude: ^(.*/pdfjs.*|.*/thirdParty.*|bootstrap.*|.*\.min\..*|.*diff\.js$)
        files: ^.*(\.html|\.css|\.js)$

verify dependencies (#2712)
  DeveloperGuide.md
  gradle/verification-keyring.keys
  gradle/verification-metadata.xml
Due: none

Update and improve Russian(Русский)(ru_RU) locale using Claude 3.5 Sonnet
  src/main/resources/messages_ru_RU.properties
Due: check-duplicate-properties-keys

Update and improve Greek(Ελληνικά)(el_GR) locale using Claude 3.5 Sonnet
  src/main/resources/messages_el_GR.properties
Due: check-duplicate-properties-keys

Update home.html
  src/main/resources/templates/home.html
Due: check-html-tabs

Fix img to pdf url (#2719)
  src/main/resources/templates/home.html
Due: check-html-tabs

Update OptimizePdfRequest.java
  src/main/java/stirling/software/SPDF/model/api/misc/OptimizePdfRequest.java
Due: none

Update german translation
  src/main/resources/messages_de_DE.properties
Due: check-duplicate-properties-keys

Remove blank line
  src/main/resources/messages_de_DE.properties
Due: check-duplicate-properties-keys

Update and improve Greek(Ελληνικά)(el_GR) locale using Claude 3.5 Sonnet (#2716)
  src/main/resources/messages_el_GR.properties
Due: check-duplicate-properties-keys

Update german translation (#2721)
  src/main/resources/messages_de_DE.properties
Due: check-duplicate-properties-keys

Update & improve Russian(Русский/ru_RU) locale w/ Claude 3.5 Sonnet (#2717)
  src/main/resources/messages_ru_RU.properties
Due: check-duplicate-properties-keys

Update OptimizePdfRequest.java (#2720)
  src/main/java/stirling/software/SPDF/model/api/misc/OptimizePdfRequest.java
Due: none

Update build.gradle
  build.gradle
Due: none

version bump (#2722)
  build.gradle
Due: none

Add: pip caching
  .github/workflows/build.yml
  .github/workflows/pre_commit.yml
  .github/workflows/sync_files.yml
Due: none

expand: check language properties
  .github/scripts/check_language_properties.py
  .github/workflows/update-translations.yml
  HowToAddNewLanguage.md
Due: none

Update messages_de_DE.properties
  src/main/resources/messages_de_DE.properties
Due: check-duplicate-properties-keys

Update ignore_translation.toml
  scripts/ignore_translation.toml
Due: none

Add: German Translation (#2725)
  scripts/ignore_translation.toml
  src/main/resources/messages_de_DE.properties
Due: check-duplicate-properties-keys

expand: check language properties (#2724)
  .github/scripts/check_language_properties.py
  .github/workflows/update-translations.yml
  HowToAddNewLanguage.md
Due: none

Add: pip caching (#2723)
  .github/workflows/build.yml
  .github/workflows/pre_commit.yml
  .github/workflows/sync_files.yml
Due: none

Add possible fix to desktop UIs (#2726)
  build.gradle
Due: none

#2418 updating GH actions
  .gitignore
  build.gradle
  src/main/java/stirling/software/SPDF/EE/EEAppConfig.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseConfig.java
  src/main/java/stirling/software/SPDF/controller/web/GeneralWebController.java
Due: none

updating build-installer job
  .github/workflows/multiOSReleases.yml
Due: none

#2418 updating jpackage config (#2713)
  .github/workflows/multiOSReleases.yml
  .gitignore
  build.gradle
  src/main/java/stirling/software/SPDF/EE/EEAppConfig.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseConfig.java
  src/main/java/stirling/software/SPDF/controller/web/GeneralWebController.java
Due: none

Order homepage + UI tweaks
  src/main/resources/messages_en_GB.properties
  src/main/resources/static/css/home.css
  src/main/resources/static/files/popularity.txt
  src/main/resources/static/js/favourites.js
  src/main/resources/static/js/homecard.js
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/fragments/navbarEntry.html
  src/main/resources/templates/home.html
Due: check-duplicate-properties-keys, check-html-tabs

init
  build.gradle
  gradle/verification-keyring.keys
  gradle/verification-metadata.xml
  src/main/java/stirling/software/SPDF/EE/EEAppConfig.java
  src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseConfig.java
  src/main/java/stirling/software/SPDF/controller/web/ConverterWebController.java
  src/main/java/stirling/software/SPDF/controller/web/GeneralWebController.java
  src/main/java/stirling/software/SPDF/model/api/converters/ConvertPDFToMarkdown.java
  src/main/java/stirling/software/SPDF/utils/PDFToFile.java
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/templates/convert/pdf-to-markdown.html
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/home.html
Due: check-duplicate-properties-keys, check-html-tabs
