Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

check-duplicate-properties-keys:
  name: Check Duplicate Properties Keys
  entry: python .github/scripts/check_duplicates.py
  language: python

check-html-tabs:
  name: Check HTML for tabs
  description: Ensures HTML/CSS/JS files do not contain tab characters
  entry: python .github/scripts/check_tabulator.py
  language: python

Remove unnecessary condition from update-translations workflow
  .github/workflows/update-translations.yml
Due: none

Theming updates and UI tweaks/fixes
  src/main/resources/static/css/navbar.css
  src/main/resources/static/css/theme/componentes.css
  src/main/resources/static/css/theme/theme.dark.css
  src/main/resources/static/css/theme/theme.light.css
  src/main/resources/static/js/favourites.js
  src/main/resources/static/js/homecard-legacy.js
  src/main/resources/static/js/homecard.js
  src/main/resources/templates/fragments/navElements.html
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/home.html
Due: check-html-tabs

Remove unnecessary condition from update-translations workflow (#2729)
  .github/workflows/update-translations.yml
Due: none

fix conflict bad merge
  gradle/verification-metadata.xml
Due: none

run spotlessApply on keys
  DeveloperGuide.md
  build.gradle
  gradle/verification-keyring.keys
  gradle/verification-metadata.xml
  src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
Due: none

<trust group="com.datastax.oss" name="java-driver-bom"
  gradle/verification-metadata.xml
Due: none

test keys
  gradle/verification-keyring.keys
  gradle/verification-metadata.xml
Due: none

markdown removal
  cucumber/webpage_urls.txt
Due: none

message
  src/main/resources/messages_en_US.properties
Due: check-duplicate-properties-keys

langs
  src/main/resources/messages_en_US.properties
Due: check-duplicate-properties-keys

spacing
  src/main/resources/messages_en_US.properties
Due: check-duplicate-properties-keys

tests
  cucumber/features/external.feature
Due: none

Pdf to markdown (#2730)
  DeveloperGuide.md
  build.gradle
  cucumber/features/external.feature
  cucumber/webpage_urls.txt
  gradle/verification-keyring.keys
  gradle/verification-metadata.xml
  src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
  src/main/java/stirling/software/SPDF/controller/web/ConverterWebController.java
  src/main/java/stirling/software/SPDF/model/api/converters/ConvertPDFToMarkdown.java
  src/main/java/stirling/software/SPDF/utils/PDFToFile.java
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/templates/convert/pdf-to-markdown.html
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/home.html
Due: check-duplicate-properties-keys, check-html-tabs

feat: added Slovenian Translation
  src/main/resources/messages_sl_SI.properties
Due: check-duplicate-properties-keys

feat: added Slovenian Translation
  scripts/ignore_translation.toml
  src/main/resources/messages_sl_SI.properties
  src/main/resources/static/images/flags/si.svg
  src/main/resources/templates/fragments/languages.html
Due: check-duplicate-properties-keys, check-html-tabs

fix: mistyped pageExtracter
  src/main/resources/messages_sl_SI.properties
Due: check-duplicate-properties-keys

fix: var translated
  src/main/resources/messages_sl_SI.properties
Due: check-duplicate-properties-keys

fix: variable translated
  src/main/resources/messages_sl_SI.properties
Due: check-duplicate-properties-keys

fix: misstype
  src/main/resources/messages_sl_SI.properties
Due: check-duplicate-properties-keys

fix: missing lines
  src/main/resources/messages_sl_SI.properties
Due: check-duplicate-properties-keys

Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Update messages_it_IT.properties (#2734)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

feat: added Slovenian Translation (#2733)
  scripts/ignore_translation.toml
  src/main/resources/messages_sl_SI.properties
  src/main/resources/static/images/flags/si.svg
  src/main/resources/templates/fragments/languages.html
Due: check-duplicate-properties-keys, check-html-tabs

Update README.md
  README.md
Due: none

Update ignore_translation.toml
  scripts/ignore_translation.toml
Due: none

Update README.md to add Slovenian (Slovenščina) (sl_SI) (#2735)
  README.md
  scripts/ignore_translation.toml
Due: none

fix. ISO lang code
  scripts/ignore_translation.toml
Due: none

Update and improve zh_TW Traditional Chinese locale
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

Update and improve zh_TW Traditional Chinese locale (#2739)
  src/main/resources/messages_zh_TW.properties
Due: check-duplicate-properties-keys

outdated Gradle functions to the Gradle 9.0 standard
  build.gradle
Due: none

Update and improve Korean(한국어)(ko_KR) locale using Claude 3.5 Sonnet
  src/main/resources/messages_ko_KR.properties
Due: check-duplicate-properties-keys

expanding the PR template
  .github/pull_request_template.md
Due: none

[Check] translation orders after merging
  .github/workflows/update-translations.yml
Due: none

Path conditions:
  check-duplicate-properties-keys: any of: ^(src)/.+\.properties$
  check-html-tabs: any of: ^.*(\.html|\.css|\.js)$, but not: ^(.*/pdfjs.*|.*/thirdParty.*|bootstrap.*|.*\.min\..*|.*diff\.js$)
