Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args:
          - --fix
          - --line-length=127
        files: ^((.github/scripts|scripts)/.+)?[^/]+\.py$
        exclude: (split_photos.py)
      - id: ruff-format
        files: ^((.github/scripts|scripts)/.+)?[^/]+\.py$
        exclude: (split_photos.py)
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        files: \.(properties|html|css|js|py|md)$
        exclude: (.vscode|.devcontainer|src/main/resources|Dockerfile)
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.22.0
    hooks:
      - id: gitleaks
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: shellcheck
        files: ^.*(\.bash|\.sh|\.ksh|\.zsh)$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
        files: ^.*(\.js|\.java|\.py|\.yml)$
        exclude: ^(.*/pdfjs.*|.*/thirdParty.*|bootstrap.*|.*\.min\..*|.*diff\.js$)
      - id: trailing-whitespace
        files: ^.*(\.js|\.java|\.py|\.yml)$
        exclude: ^(.*/pdfjs.*|.*/thirdParty.*|bootstrap.*|.*\.min\..*|.*diff\.js$)

  - repo: local
    hooks:
      - id: check-duplicate-properties-keys
        name: Check Duplicate Properties Keys
        entry: python .github/scripts/check_duplicates.py
        language: python
        files: ^(src)/.+\.properties$
      - id: check-html-tabs
        name: Check HTML for tabs
        description: Ensures HTML/CSS/JS files do not contain tab characters
        # args: ["--replace_with=  "]
        entry: python .github/scripts/check_tabulator.py
        language: python
        exclude: ^(.*/pdfjs.*|.*/thirdParty.*|bootstrap.*|.*\.min\..*|.*diff\.js$)
        files: ^.*(\.html|\.css|\.js)$

Fix: Pinned-Dependencies sync_files.yml (#2660)
  .github/scripts/requirements_sync_readme.in
  .github/scripts/requirements_sync_readme.txt
  .github/workflows/sync_files.yml
  .pre-commit-config.yaml
Due: none

Add: Harden Runner (#2661)
  .github/workflows/releaseArtifacts.yml
Due: none

Homepage overhaul
  src/main/resources/static/css/general.css
  src/main/resources/static/css/home.css
  src/main/resources/static/js/homecard.js
  src/main/resources/templates/fragments/navbarEntry.html
  src/main/resources/templates/home.html
Due: check-html-tabs

full width and bug fixes
  src/main/resources/static/css/home.css
  src/main/resources/static/css/theme/componentes.css
  src/main/resources/templates/fragments/navbarEntry.html
  src/main/resources/templates/home.html
Due: check-html-tabs

correct resize and wrap
  src/main/resources/static/css/home.css
Due: check-html-tabs

improve search
  src/main/resources/static/js/homecard.js
  src/main/resources/templates/fragments/navbarEntry.html
Due: check-html-tabs

add zip files and reorganize
  .gitignore
Due: none

Fix: `NoSuchFileException` if `configs\db\backup` is not present on first start
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseService.java
Due: none

change from pypdf2 to pypdf
  cucumber/exampleFiles/example.html
  cucumber/features/environment.py
  cucumber/features/steps/step_definitions.py
  cucumber/requirements.in
  cucumber/requirements.txt
Due: check-html-tabs

add zip files and reorganize (#2664)
  .gitignore
Due: none

Fix: `NoSuchFileException` if `configs\db\backup` is not present on first start (#2665)
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseService.java
Due: none

change from pypdf2 to pypdf (#2666)
  cucumber/exampleFiles/example.html
  cucumber/features/environment.py
  cucumber/features/steps/step_definitions.py
  cucumber/requirements.in
  cucumber/requirements.txt
Due: check-html-tabs

install paths dynmaic
  src/main/java/stirling/software/SPDF/config/InstallationPathConfig.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseConfig.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseService.java
  src/main/java/stirling/software/SPDF/controller/web/GeneralWebController.java
Due: none

fix
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseService.java
Due: none

Fix: Thymeleaf syntax `(/*[[...]]*/)` (#2659)
  src/main/resources/static/js/cacheFormInputs.js
  src/main/resources/static/js/csrf.js
  src/main/resources/static/js/darkmode.js
  src/main/resources/static/js/fetch-utils.js
  src/main/resources/static/js/game.js
  src/main/resources/static/js/settings.js
  src/main/resources/templates/account.html
  src/main/resources/templates/fragments/footer.html
  src/main/resources/templates/login.html
  src/main/resources/templates/releases.html
  src/main/resources/templates/security/validate-signature.html
  src/test/java/stirling/software/SPDF/SPDFApplicationTest.java
  src/test/java/stirling/software/SPDF/config/security/database/DatabaseConfigTest.java
  src/test/java/stirling/software/SPDF/controller/api/RearrangePagesPDFControllerTest.java
Due: check-html-tabs

install paths dynmaic (#2668)
  src/main/java/stirling/software/SPDF/config/InstallationPathConfig.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseConfig.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseService.java
  src/main/java/stirling/software/SPDF/controller/web/GeneralWebController.java
Due: none

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Due: none

Improves the release for multi OS
  .github/workflows/multiOSReleases.yml
Due: none

update gradle-wrapper binaries
  gradle.properties
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Due: none

Update and improve Hungarian translations using Claude 3.5 Sonnet
  src/main/resources/messages_hu_HU.properties
Due: check-duplicate-properties-keys

cache the release notes in the browser session
  src/main/resources/templates/releases.html
Due: check-html-tabs

Update releases.html
  src/main/resources/templates/releases.html
Due: check-html-tabs

Update and improve Hungarian translations using Claude 3.5 Sonnet (#2549)
  src/main/resources/messages_hu_HU.properties
Due: check-duplicate-properties-keys

Improves the release for multi OS (#2670)
  .github/workflows/multiOSReleases.yml
Due: none

update gradle-wrapper binaries (#2671)
  gradle.properties
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Due: none

cache the release notes in the browser session (#2673)
  src/main/resources/templates/releases.html
Due: check-html-tabs

Restriction of username and email
  src/main/java/stirling/software/SPDF/config/security/UserService.java
  src/main/resources/templates/account.html
  src/main/resources/templates/addUsers.html
Due: check-html-tabs

Update Dockerfile.fat
  Dockerfile.fat
Due: none

Restriction of username and email (#2676)
  src/main/java/stirling/software/SPDF/config/security/UserService.java
  src/main/resources/templates/account.html
  src/main/resources/templates/addUsers.html
Due: check-html-tabs
