Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args:
          - --fix
          - --line-length=127
        files: ^((.github/scripts|scripts)/.+)?[^/]+\.py$
        exclude: (split_photos.py)
      - id: ruff-format
        files: ^((.github/scripts|scripts)/.+)?[^/]+\.py$
        exclude: (split_photos.py)
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        files: \.(properties|html|css|js|py|md)$
        exclude: (.vscode|.devcontainer|src/main/resources|Dockerfile)
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.22.0
    hooks:
      - id: gitleaks
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: shellcheck
        files: ^.*(\.bash|\.sh|\.ksh|\.zsh)$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
        files: ^.*(\.js|\.java|\.py|\.yml)$
        exclude: ^(.*/pdfjs.*|.*/thirdParty.*|bootstrap.*|.*\.min\..*|.*diff\.js$)
      - id: trailing-whitespace
        files: ^.*(\.js|\.java|\.py|\.yml)$
        exclude: ^(.*/pdfjs.*|.*/thirdParty.*|bootstrap.*|.*\.min\..*|.*diff\.js$)

  - repo: local
    hooks:
      - id: check-duplicate-properties-keys
        name: Check Duplicate Properties Keys
        entry: python .github/scripts/check_duplicates.py
        language: python
        files: ^(src)/.+\.properties$
      - id: check-html-tabs
        name: Check HTML for tabs
        description: Ensures HTML/CSS/JS files do not contain tab characters
        # args: ["--replace_with=  "]
        entry: python .github/scripts/check_tabulator.py
        language: python
        exclude: ^(.*/pdfjs.*|.*/thirdParty.*|bootstrap.*|.*\.min\..*|.*diff\.js$)
        files: ^.*(\.html|\.css|\.js)$

Add: description for compress optimization levels 6 to 9 (#2687)
  src/main/resources/messages_ar_AR.properties
  src/main/resources/messages_az_AZ.properties
  src/main/resources/messages_bg_BG.properties
  src/main/resources/messages_ca_CA.properties
  src/main/resources/messages_cs_CZ.properties
  src/main/resources/messages_da_DK.properties
  src/main/resources/messages_de_DE.properties
  src/main/resources/messages_el_GR.properties
  src/main/resources/messages_en_GB.properties
  src/main/resources/messages_en_US.properties
  src/main/resources/messages_es_ES.properties
  src/main/resources/messages_eu_ES.properties
  src/main/resources/messages_fa_IR.properties
  src/main/resources/messages_fr_FR.properties
  src/main/resources/messages_ga_IE.properties
  src/main/resources/messages_hi_IN.properties
  src/main/resources/messages_hr_HR.properties
  src/main/resources/messages_hu_HU.properties
  src/main/resources/messages_id_ID.properties
  src/main/resources/messages_it_IT.properties
  src/main/resources/messages_ja_JP.properties
  src/main/resources/messages_ko_KR.properties
  src/main/resources/messages_nl_NL.properties
  src/main/resources/messages_no_NB.properties
  src/main/resources/messages_pl_PL.properties
  src/main/resources/messages_pt_BR.properties
  src/main/resources/messages_pt_PT.properties
  src/main/resources/messages_ro_RO.properties
  src/main/resources/messages_ru_RU.properties
  src/main/resources/messages_sk_SK.properties
  src/main/resources/messages_sr_LATN_RS.properties
  src/main/resources/messages_sv_SE.properties
  src/main/resources/messages_th_TH.properties
  src/main/resources/messages_tr_TR.properties
  src/main/resources/messages_uk_UA.properties
  src/main/resources/messages_vi_VN.properties
  src/main/resources/messages_zh_BO.properties
  src/main/resources/messages_zh_CN.properties
  src/main/resources/messages_zh_TW.properties
  src/main/resources/templates/misc/compress-pdf.html
Due: check-duplicate-properties-keys, check-html-tabs

Bump: Harden Runner from v2.10.2 to v2.10.3 (#2686)
  .github/workflows/PR-Demo-Comment.yml
  .github/workflows/PR-Demo-cleanup.yml
  .github/workflows/auto-labeler.yml
  .github/workflows/build.yml
  .github/workflows/check_properties.yml
  .github/workflows/codeql.yml-disabled
  .github/workflows/dependency-review.yml
  .github/workflows/licenses-update.yml
  .github/workflows/manage-label.yml
  .github/workflows/multiOSReleases.yml
  .github/workflows/push-docker.yml
  .github/workflows/releaseArtifacts.yml
  .github/workflows/scorecards.yml
  .github/workflows/stale.yml
  .github/workflows/swagger.yml
  .github/workflows/sync_files.yml
  .github/workflows/testdriver.yml
  .github/workflows/update-translations.yml
Due: none

Favourites rework
  src/main/resources/static/css/home.css
  src/main/resources/static/css/navbar.css
  src/main/resources/static/css/theme/componentes.css
  src/main/resources/static/js/favourites.js
  src/main/resources/static/js/homecard.js
  src/main/resources/templates/convert/img-to-pdf.html
  src/main/resources/templates/convert/pdf-to-img.html
  src/main/resources/templates/fragments/navElements.html
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/fragments/navbarEntry.html
  src/main/resources/templates/fragments/navbarEntryCustom.html
  src/main/resources/templates/home.html
  src/main/resources/templates/security/auto-redact.html
  src/main/resources/templates/security/redact.html
Due: check-html-tabs

fix fragment
  src/main/resources/templates/fragments/navbar.html
Due: check-html-tabs

Remove unnecessary function
  src/main/resources/static/js/homecard.js
Due: check-html-tabs

commit
  cucumber/test_webpages.sh
  cucumber/webpage_urls.txt
  src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
  test.sh
Due: none

Update build.yml
  .github/workflows/build.yml
Due: none

test all pages load correctly (#2699)
  .github/workflows/build.yml
  cucumber/test_webpages.sh
  cucumber/webpage_urls.txt
  src/main/java/stirling/software/SPDF/config/EndpointConfiguration.java
  test.sh
Due: none

Create USERS.md
  USERS.md
Due: none

Create USERS.md (#2700)
  USERS.md
Due: none

Update and improve Hindi (हिंदी) (hi_IN) locale using Claude 3.5 Sonnet
  src/main/resources/messages_hi_IN.properties
Due: check-duplicate-properties-keys

removes versioning for release binaries
  .github/workflows/multiOSReleases.yml
Due: none

removes versioning for release binaries (#2703)
  .github/workflows/multiOSReleases.yml
Due: none

Restore old homepage as option and add feature row
  src/main/resources/static/css/home-legacy.css
  src/main/resources/static/css/navbar.css
  src/main/resources/static/js/favourites.js
  src/main/resources/static/js/homecard-legacy.js
  src/main/resources/static/js/homecard.js
  src/main/resources/templates/fragments/card.html
  src/main/resources/templates/fragments/common.html
  src/main/resources/templates/fragments/featureGroupHeaderLegacy.html
  src/main/resources/templates/fragments/navElements.html
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/home-legacy.html
  src/main/resources/templates/home.html
  src/main/resources/templates/misc/auto-rename.html
Due: check-html-tabs

Update and improve Hindi (हिंदी) (hi_IN) locale using Claude 3.5 Sonnet (#2702)
  src/main/resources/messages_hi_IN.properties
Due: check-duplicate-properties-keys

Toggle homepage and favourites clean up
  src/main/resources/messages_en_GB.properties
  src/main/resources/static/js/homecard.js
  src/main/resources/templates/home-legacy.html
  src/main/resources/templates/home.html
Due: check-duplicate-properties-keys, check-html-tabs

Always show favourites when selecting favourites
  src/main/resources/static/js/favourites.js
  src/main/resources/static/js/homecard.js
  src/main/resources/templates/home.html
Due: check-html-tabs

Css tweak
  src/main/resources/templates/home-legacy.html
Due: check-html-tabs

Update licenses-update.yml
  .github/workflows/licenses-update.yml
Due: none

Update build.gradle
  build.gradle
Due: none

Mapping
  src/main/java/stirling/software/SPDF/controller/web/HomeWebController.java
Due: none

Auto merge test (#2706)
  .github/workflows/licenses-update.yml
  build.gradle
Due: none

quick fix var to secret (#2707)
  .github/workflows/licenses-update.yml
Due: none

commit to trigger GHA (#2708)
  build.gradle
Due: none

Update README.md
  README.md
Due: none

verify
  DeveloperGuide.md
  gradle/verification-keyring.keys
  gradle/verification-metadata.xml
Due: none

add comment
  gradle/verification-metadata.xml
Due: none
