Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args:
          - --fix
          - --line-length=127
        files: ^((.github/scripts|scripts)/.+)?[^/]+\.py$
        exclude: (split_photos.py)
      - id: ruff-format
        files: ^((.github/scripts|scripts)/.+)?[^/]+\.py$
        exclude: (split_photos.py)
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        files: \.(properties|html|css|js|py|md)$
        exclude: (.vscode|.devcontainer|src/main/resources|Dockerfile)
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.22.0
    hooks:
      - id: gitleaks
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: shellcheck
        files: ^.*(\.bash|\.sh|\.ksh|\.zsh)$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
        files: ^.*(\.js|\.java|\.py|\.yml)$
        exclude: ^(.*/pdfjs.*|.*/thirdParty.*|bootstrap.*|.*\.min\..*|.*diff\.js$)
      - id: trailing-whitespace
        files: ^.*(\.js|\.java|\.py|\.yml)$
        exclude: ^(.*/pdfjs.*|.*/thirdParty.*|bootstrap.*|.*\.min\..*|.*diff\.js$)

  - repo: local
    hooks:
      - id: check-duplicate-properties-keys
        name: Check Duplicate Properties Keys
        entry: python .github/scripts/check_duplicates.py
        language: python
        files: ^(src)/.+\.properties$
      - id: check-html-tabs
        name: Check HTML for tabs
        description: Ensures HTML/CSS/JS files do not contain tab characters
        # args: ["--replace_with=  "]
        entry: python .github/scripts/check_tabulator.py
        language: python
        exclude: ^(.*/pdfjs.*|.*/thirdParty.*|bootstrap.*|.*\.min\..*|.*diff\.js$)
        files: ^.*(\.html|\.css|\.js)$

removing tests
  build.gradle
  exampleYmlFiles/docker-compose-latest-fat-security-postgres.yml
  src/main/java/stirling/software/SPDF/SPDFApplication.java
  src/test/java/stirling/software/SPDF/SPDFApplicationTest.java
  src/test/java/stirling/software/SPDF/config/security/database/DatabaseServiceTest.java
  src/test/java/stirling/software/SPDF/integrationtests/SPDFApplicationIntegrationTest.java
Due: none

#2270: External DB Support (#2457)
  build.gradle
  exampleYmlFiles/docker-compose-latest-fat-security-postgres.yml
  exampleYmlFiles/docker-compose-latest-fat-security.yml
  exampleYmlFiles/docker-compose-latest-security.yml
  src/main/java/stirling/software/SPDF/EE/LicenseKeyChecker.java
  src/main/java/stirling/software/SPDF/SPDFApplication.java
  src/main/java/stirling/software/SPDF/config/interfaces/DatabaseBackupInterface.java
  src/main/java/stirling/software/SPDF/config/interfaces/DatabaseInterface.java
  src/main/java/stirling/software/SPDF/config/security/CustomLogoutSuccessHandler.java
  src/main/java/stirling/software/SPDF/config/security/InitialSecuritySetup.java
  src/main/java/stirling/software/SPDF/config/security/UserService.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseBackupHelper.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseConfig.java
  src/main/java/stirling/software/SPDF/config/security/database/DatabaseService.java
  src/main/java/stirling/software/SPDF/config/security/database/ScheduledTasks.java
  src/main/java/stirling/software/SPDF/config/security/oauth2/CustomOAuth2AuthenticationSuccessHandler.java
  src/main/java/stirling/software/SPDF/config/security/saml2/CustomSaml2AuthenticationSuccessHandler.java
  src/main/java/stirling/software/SPDF/controller/api/DatabaseController.java
  src/main/java/stirling/software/SPDF/controller/api/UserController.java
  src/main/java/stirling/software/SPDF/controller/api/pipeline/ApiDocService.java
  src/main/java/stirling/software/SPDF/controller/api/pipeline/PipelineProcessor.java
  src/main/java/stirling/software/SPDF/controller/api/security/ValidateSignatureController.java
  src/main/java/stirling/software/SPDF/controller/web/DatabaseWebController.java
  src/main/java/stirling/software/SPDF/model/ApplicationProperties.java
  src/main/java/stirling/software/SPDF/model/SessionEntity.java
  src/main/java/stirling/software/SPDF/model/User.java
  src/main/java/stirling/software/SPDF/model/exception/BackupNotFoundException.java
  src/main/resources/application.properties
  src/main/resources/settings.yml.template
  src/test/java/stirling/software/SPDF/SPDFApplicationTest.java
  src/test/java/stirling/software/SPDF/SPdfApplicationTest.java
  src/test/java/stirling/software/SPDF/config/security/database/DatabaseConfigTest.java
Due: check-duplicate-properties-keys

Update messages_it_IT.properties
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

fix(ui): make div for table container responsive
  src/main/resources/templates/addUsers.html
Due: check-html-tabs

Update messages_it_IT.properties (#2624)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

fix(ui): make div for table container responsive (#2622)
  src/main/resources/templates/addUsers.html
Due: check-html-tabs

Update settings.yml.template
  src/main/resources/settings.yml.template
Due: none

excludes `BackupNotFoundException.java` + add label by
  .github/labeler-config.yml
  build.gradle
Due: none

excludes `BackupNotFoundException.java` + add label by (#2629)
  .github/labeler-config.yml
  build.gradle
Due: none

new icons
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/home.html
Due: check-html-tabs

Update ScheduledTasks.java
  src/main/java/stirling/software/SPDF/config/security/database/ScheduledTasks.java
Due: none

Add: Cosign with OIDC
  .github/workflows/releaseArtifacts.yml
Due: none

Update releaseArtifacts.yml
  .github/workflows/releaseArtifacts.yml
Due: none

Pinned-Dependencies `actions/upload-artifact`
  .github/workflows/build.yml
Due: none

Fix: py Vulnerabilities
  .github/workflows/build.yml
  cucumber/requirements.in
  cucumber/requirements.txt
Due: none

Update languages.html
  src/main/resources/templates/fragments/languages.html
Due: check-html-tabs

Create messages_cn_BO.properties
  src/main/resources/messages_cn_BO.properties
Due: check-duplicate-properties-keys

Update messages_it_IT.properties (#2640)
  src/main/resources/messages_it_IT.properties
Due: check-duplicate-properties-keys

Create messages_zh_BO.properties
  src/main/resources/messages_zh_BO.properties
Due: check-duplicate-properties-keys

Update README.md
  README.md
Due: none

Create messages_zh_BO.properties (#2642)
  src/main/resources/messages_zh_BO.properties
Due: check-duplicate-properties-keys

Update languages.html (#2643)
  src/main/resources/templates/fragments/languages.html
Due: check-html-tabs
