Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args:
          - --fix
          - --line-length=127
        files: ^((.github/scripts|scripts)/.+)?[^/]+\.py$
        exclude: (split_photos.py)
      - id: ruff-format
        files: ^((.github/scripts|scripts)/.+)?[^/]+\.py$
        exclude: (split_photos.py)
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        files: \.(properties|html|css|js|py|md)$
        exclude: (.vscode|.devcontainer|src/main/resources|Dockerfile)
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.22.0
    hooks:
      - id: gitleaks
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: shellcheck
        files: ^.*(\.bash|\.sh|\.ksh|\.zsh)$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
        files: ^.*(\.js|\.java|\.py|\.yml)$
        exclude: ^(.*/pdfjs.*|.*/thirdParty.*|bootstrap.*|.*\.min\..*|.*diff\.js$)
      - id: trailing-whitespace
        files: ^.*(\.js|\.java|\.py|\.yml)$
        exclude: ^(.*/pdfjs.*|.*/thirdParty.*|bootstrap.*|.*\.min\..*|.*diff\.js$)

  - repo: local
    hooks:
      - id: check-duplicate-properties-keys
        name: Check Duplicate Properties Keys
        entry: python .github/scripts/check_duplicates.py
        language: python
        files: ^(src)/.+\.properties$
      - id: check-html-tabs
        name: Check HTML for tabs
        description: Ensures HTML/CSS/JS files do not contain tab characters
        # args: ["--replace_with=  "]
        entry: python .github/scripts/check_tabulator.py
        language: python
        exclude: ^(.*/pdfjs.*|.*/thirdParty.*|bootstrap.*|.*\.min\..*|.*diff\.js$)
        files: ^.*(\.html|\.css|\.js)$

changes the bot from github-action to stirlingbot
  .github/workflows/pre_commit.yml
Due: none

changes the bot from github-action to stirlingbot (#2755)
  .github/workflows/pre_commit.yml
Due: none

clean up and more
  .github/scripts/check_duplicates.py
  .github/scripts/check_tabulator.py
  .github/workflows/pre_commit.yml
  .pre-commit-config.yaml
  scripts/counter_translation.py
Due: none

UI tweaks and js cleanup
  src/main/resources/static/css/home.css
  src/main/resources/static/css/navbar.css
  src/main/resources/static/js/navbar.js
  src/main/resources/static/js/pages/home.js
  src/main/resources/templates/fragments/navElements.html
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/home.html
Due: check-html-tabs

clean up and more (#2756)
  .github/scripts/check_duplicates.py
  .github/scripts/check_tabulator.py
  .github/workflows/pre_commit.yml
  .pre-commit-config.yaml
  scripts/counter_translation.py
Due: none

Update and improve Czech(Česky)(cs_CZ) locale using Claude 3.5 Sonnet
  src/main/resources/messages_cs_CZ.properties
Due: check-duplicate-properties-keys

Central UI with seperator
  src/main/resources/static/css/navbar.css
  src/main/resources/static/js/pages/home.js
  src/main/resources/templates/home.html
Due: check-html-tabs

convert colour updates
  src/main/resources/static/css/theme/theme.dark.css
  src/main/resources/static/css/theme/theme.light.css
  src/main/resources/templates/convert/file-to-pdf.html
  src/main/resources/templates/convert/html-to-pdf.html
  src/main/resources/templates/convert/img-to-pdf.html
  src/main/resources/templates/convert/markdown-to-pdf.html
  src/main/resources/templates/convert/pdf-to-img.html
  src/main/resources/templates/convert/pdf-to-presentation.html
  src/main/resources/templates/convert/pdf-to-word.html
  src/main/resources/templates/convert/url-to-pdf.html
Due: check-html-tabs

Security: file name restriction
  .github/workflows/check_properties.yml
Due: none

Update and improve Czech(Česky)(cs_CZ) locale using Claude 3.5 Sonnet (#2748)
  src/main/resources/messages_cs_CZ.properties
Due: check-duplicate-properties-keys

Security: file name restriction (#2768)
  .github/workflows/check_properties.yml
Due: none

Update centring
  src/main/resources/static/js/pages/home.js
Due: check-html-tabs

FR translation: Apply
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

FR translation: database backup
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

FR translation: session refresh page
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

FR translation: redact
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

FR translation: sign
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

FR translation: decrypt
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

fix french translation
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

Fix fr messages (#2773)
  src/main/resources/messages_fr_FR.properties
Due: check-duplicate-properties-keys

Theming tweaks
  src/main/resources/static/css/navbar.css
  src/main/resources/static/css/theme/theme.css
  src/main/resources/static/css/theme/theme.dark.css
  src/main/resources/static/css/theme/theme.light.css
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/home.html
Due: check-html-tabs

Sticky nav bar
  src/main/resources/templates/fragments/navbar.html
Due: check-html-tabs

Update messages_tr_TR.properties
  src/main/resources/messages_tr_TR.properties
Due: check-duplicate-properties-keys

feat(i18n): Update Turkish translation for PDF.js viewer
  src/main/resources/static/pdfjs/locale/tr/viewer.ftl
Due: none

docs: Update Turkish translation progress to 100%
  README.md
Due: none

fix: Remove duplicate entries in Turkish translation
  src/main/resources/messages_tr_TR.properties
Due: check-duplicate-properties-keys

Fix: test failure on pull request from dependabot
  .github/workflows/build.yml
  .github/workflows/sync_files.yml
  .pre-commit-config.yaml
  test.sh
Due: none

Update licenses-update.yml
  .github/workflows/licenses-update.yml
Due: none

Update push-docker.yml
  .github/workflows/push-docker.yml
Due: none

push
  src/main/resources/templates/misc/compress-pdf.html
Due: check-html-tabs

Update errorBannerPerPage.html
  src/main/resources/templates/fragments/errorBannerPerPage.html
Due: check-html-tabs

push
  src/main/resources/templates/extract-page.html
  src/main/resources/templates/fragments/multi-toolAdvert.html
Due: check-html-tabs

Update sync_files.yml
  .github/workflows/sync_files.yml
Due: none

Fix: test failure on pull request from dependabot (#2783)
  .github/workflows/build.yml
  .github/workflows/sync_files.yml
  .pre-commit-config.yaml
  test.sh
Due: none
