Repository Stirling-Tools/Stirling-PDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-duplicate-properties-keys, check-html-tabs

check-duplicate-properties-keys:
  name: Check Duplicate Properties Keys
  entry: python .github/scripts/check_duplicates.py
  language: python

check-html-tabs:
  name: Check HTML for tabs
  description: Ensures HTML/CSS/JS files do not contain tab characters
  entry: python .github/scripts/check_tabulator.py
  language: python

Support all functions of javaluator
  src/main/java/stirling/software/SPDF/utils/GeneralUtils.java
Due: none

cleanup, api, jvm gc
  .github/workflows/testdriver.yml
  .gitignore
  Dockerfile
  Dockerfile.fat
  Dockerfile.ultra-lite
  exampleYmlFiles/test_cicd.yml
  src/main/java/stirling/software/SPDF/controller/api/AnalysisController.java
  src/main/resources/templates/misc/remove-blanks.html
  testing/cucumber/exampleFiles/example.docx
  testing/cucumber/exampleFiles/example.html
  testing/cucumber/exampleFiles/example.md
  testing/cucumber/exampleFiles/example.odp
  testing/cucumber/exampleFiles/example.odt
  testing/cucumber/exampleFiles/example.pptx
  testing/cucumber/exampleFiles/example.rtf
  testing/cucumber/exampleFiles/example_html.zip
  testing/cucumber/exampleFiles/ghost1.pdf
  testing/cucumber/exampleFiles/ghost2.pdf
  testing/cucumber/exampleFiles/ghost3.pdf
  testing/cucumber/exampleFiles/images.pdf
  testing/cucumber/exampleFiles/pdfa1.pdf
  testing/cucumber/exampleFiles/pdfa2.pdf
  testing/cucumber/features/environment.py
  testing/cucumber/features/examples.feature
  testing/cucumber/features/external.feature
  testing/cucumber/features/general.feature
  testing/cucumber/features/steps/step_definitions.py
  testing/cucumber/requirements.in
  testing/cucumber/requirements.txt
  testing/test.sh
  testing/test2.sh
  testing/test_webpages.sh
  testing/testdriver/test.yml
  testing/webpage_urls.txt
  testing/webpage_urls_full.txt
Due: check-html-tabs

test
  .github/workflows/build.yml
  test.sh
Due: none

fix
  .github/workflows/build.yml
Due: none

/
  .github/workflows/build.yml
Due: none

cahnge
  .github/workflows/build.yml
Due: none

readd test.sh stuff
  testing/test.sh
Due: none

Update build.yml
  .github/workflows/build.yml
Due: none

version bump
  build.gradle
Due: none

remove debugs
  testing/test_webpages.sh
Due: none

remove book urls
  testing/webpage_urls_full.txt
Due: none

fixes
  testing/test_webpages.sh
Due: none

Test cleanup, JVM GC and api (#2787)
  .github/workflows/build.yml
  .github/workflows/testdriver.yml
  .gitignore
  Dockerfile
  Dockerfile.fat
  Dockerfile.ultra-lite
  build.gradle
  exampleYmlFiles/test_cicd.yml
  src/main/java/stirling/software/SPDF/controller/api/AnalysisController.java
  src/main/resources/templates/misc/remove-blanks.html
  testing/cucumber/exampleFiles/example.docx
  testing/cucumber/exampleFiles/example.html
  testing/cucumber/exampleFiles/example.md
  testing/cucumber/exampleFiles/example.odp
  testing/cucumber/exampleFiles/example.odt
  testing/cucumber/exampleFiles/example.pptx
  testing/cucumber/exampleFiles/example.rtf
  testing/cucumber/exampleFiles/example_html.zip
  testing/cucumber/exampleFiles/ghost1.pdf
  testing/cucumber/exampleFiles/ghost2.pdf
  testing/cucumber/exampleFiles/ghost3.pdf
  testing/cucumber/exampleFiles/images.pdf
  testing/cucumber/exampleFiles/pdfa1.pdf
  testing/cucumber/exampleFiles/pdfa2.pdf
  testing/cucumber/features/environment.py
  testing/cucumber/features/examples.feature
  testing/cucumber/features/external.feature
  testing/cucumber/features/general.feature
  testing/cucumber/features/steps/step_definitions.py
  testing/cucumber/requirements.in
  testing/cucumber/requirements.txt
  testing/test.sh
  testing/test2.sh
  testing/test_webpages.sh
  testing/testdriver/test.yml
  testing/webpage_urls.txt
  testing/webpage_urls_full.txt
Due: check-html-tabs

Updated Irish translations
  src/main/resources/messages_ga_IE.properties
Due: check-duplicate-properties-keys

Fixed Mismatched line count: 1375 (reference) vs 1374 (current). Fixed Missing keys by renaming 5 keys from:- release. to releases.
  src/main/resources/messages_ga_IE.properties
Due: check-duplicate-properties-keys

Tooltip rework
  src/main/resources/messages_en_GB.properties
  src/main/resources/static/css/general.css
  src/main/resources/static/css/theme/theme.light.css
  src/main/resources/static/js/navbar.js
  src/main/resources/static/pdfjs/css/viewer.css
  src/main/resources/templates/fragments/common.html
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/misc/add-image.html
  src/main/resources/templates/multi-tool.html
  src/main/resources/templates/security/redact.html
  src/main/resources/templates/sign.html
  src/main/resources/templates/view-pdf.html
Due: check-duplicate-properties-keys, check-html-tabs

Tooltip fixes
  src/main/resources/static/css/general.css
  src/main/resources/static/css/theme/theme.light.css
  src/main/resources/static/js/multitool/DragDropManager.js
  src/main/resources/static/js/multitool/PdfActionsManager.js
  src/main/resources/static/js/multitool/PdfContainer.js
  src/main/resources/static/js/navbar.js
  src/main/resources/static/pdfjs-legacy/css/viewer-redact.css
  src/main/resources/templates/fragments/navbarEntry.html
  src/main/resources/templates/fragments/navbarEntryCustom.html
  src/main/resources/templates/security/redact.html
Due: check-html-tabs

Update messages_ja_JP.properties
  src/main/resources/messages_ja_JP.properties
Due: check-duplicate-properties-keys

Custom icons on nav. PDF viewer header and footer
  src/main/resources/static/css/redact.css
  src/main/resources/static/css/theme/theme.light.css
  src/main/resources/static/images/redact-auto.svg
  src/main/resources/static/images/redact-manual.svg
  src/main/resources/static/images/split-auto.svg
  src/main/resources/static/images/split-chapters.svg
  src/main/resources/static/images/split-size.svg
  src/main/resources/static/js/redact.js
  src/main/resources/static/pdfjs-legacy/css/viewer.css
  src/main/resources/templates/fragments/navElements.html
  src/main/resources/templates/fragments/navbarEntry.html
  src/main/resources/templates/fragments/navbarEntryCustom.html
  src/main/resources/templates/home.html
  src/main/resources/templates/security/redact.html
  src/main/resources/templates/view-pdf.html
Due: check-html-tabs

Fix survey and centre toolbar
  src/main/resources/static/js/pages/home.js
  src/main/resources/templates/fragments/navbar.html
  src/main/resources/templates/home.html
Due: check-html-tabs

Bug fixes and UI tweaks
  src/main/resources/static/css/home.css
  src/main/resources/static/css/theme/theme.dark.css
  src/main/resources/static/css/theme/theme.light.css
  src/main/resources/static/js/favourites.js
  src/main/resources/static/js/homecard.js
  src/main/resources/templates/home.html
Due: check-html-tabs

restore pdf to markdown
  src/main/resources/templates/fragments/navElements.html
Due: check-html-tabs

Update messages_ja_JP.properties (#2804)
  src/main/resources/messages_ja_JP.properties
Due: check-duplicate-properties-keys

(i18n) Updated Irish translations (#2793)
  src/main/resources/messages_ga_IE.properties
Due: check-duplicate-properties-keys

posthog log
  src/main/java/stirling/software/SPDF/config/PostHogConfig.java
  src/main/java/stirling/software/SPDF/config/PostHogLoggerImpl.java
Due: none

posthog
  build.gradle
Due: none

update keys
  gradle/verification-keyring.keys
  gradle/verification-metadata.xml
  src/main/java/stirling/software/SPDF/config/PostHogConfig.java
  src/main/java/stirling/software/SPDF/config/PostHogLoggerImpl.java
  src/main/java/stirling/software/SPDF/controller/api/AnalysisController.java
Due: none

test gpg vers
  gradle/verification-keyring.gpg
Due: none

Update popularity.txt
  src/main/resources/static/files/popularity.txt
Due: none

Posthog to log to log file (#2813)
  build.gradle
  gradle/verification-keyring.gpg
  gradle/verification-keyring.keys
  gradle/verification-metadata.xml
  src/main/java/stirling/software/SPDF/config/PostHogConfig.java
  src/main/java/stirling/software/SPDF/config/PostHogLoggerImpl.java
  src/main/java/stirling/software/SPDF/controller/api/AnalysisController.java
Due: none

Update messages_pt_BR.properties
  src/main/resources/messages_pt_BR.properties
Due: check-duplicate-properties-keys

Update messages_pt_BR.properties (#2815)
  src/main/resources/messages_pt_BR.properties
Due: check-duplicate-properties-keys

[Fix] Handle missing end page in PDF split range
  src/main/java/stirling/software/SPDF/utils/GeneralUtils.java
Due: none

Path conditions:
  check-duplicate-properties-keys: any of: ^(src)/.+\.properties$
  check-html-tabs: any of: ^.*(\.html|\.css|\.js)$, but not: ^(.*/pdfjs.*|.*/thirdParty.*|bootstrap.*|.*\.min\..*|.*diff\.js$)
